[submodule "vendor/noredundantconcat"]
	path = vendor/noredundantconcat
	url = https://github.com/truqu/elm-review-noredundantconcat.git
[submodule "vendor/noleftpizza"]
	path = vendor/noleftpizza
	url = https://github.com/truqu/elm-review-noleftpizza.git
[submodule "vendor/noredundantcons"]
	path = vendor/noredundantcons
	url = https://github.com/truqu/elm-review-noredundantcons.git
[submodule "vendor/nobooleancase"]
	path = vendor/nobooleancase
	url = https://github.com/truqu/elm-review-nobooleancase.git
[submodule "vendor/review-simplification"]
	path = vendor/review-simplification
	url = https://github.com/jfmengels/review-simplification.git
[submodule "vendor/review-tea"]
	path = vendor/review-tea
	url = https://github.com/jfmengels/review-tea.git
