name: Fixes
on:
  push:
    branches: ['**']

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: actions/cache@v5
        id: yarn-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v5
        id: elm-cache
        with:
          path: ~/.elm
          key: ${{ runner.os }}-elm--home-${{ hashFiles('**/elm.json', 'elm-tooling.json') }}
      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        env:
          NO_ELM_TOOLING_INSTALL: 1
        run: yarn install --frozen-lockfile
      - name: elm-tooling install
        run: npx --no-install elm-tooling install
      - name: Run elm-format
        run: npx --no-install elm-format src/ --yes
      - uses: peter-evans/create-pull-request@v8
        with:
          commit-message: 'Apply elm-format fixes'
          branch: fixes/${{ steps.extract_branch.outputs.branch }}
          title: "Apply elm-format fixes"
          body: "*This is an automated pull request because elm-format found problems that could be fixed automatically.*"
          reviewers: sparksp
          assignees: sparksp
