name: Build
on:
  pull_request:
  push:
    branches: [master]

jobs:
  elm-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: actions/cache@v5
        id: yarn-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('yarn.lock') }}
      - uses: actions/cache@v5
        id: elm-cache
        with:
          path: ~/.elm
          key: ${{ runner.os }}-elm--home-${{ hashFiles('**/elm.json', 'elm-tooling.json') }}
      - name: Install dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        env:
          NO_ELM_TOOLING_INSTALL: 1
        run: yarn install --frozen-lockfile
      - name: elm-tooling install
        run: npx --no-install elm-tooling install
      - name: Build elm
        run: npx --no-install elm make src/ReviewConfig.elm --output /dev/null
      - name: Lint
        run: npx --no-install elm-format --validate src/
